<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Registration </title>
</head>
<body>
<center><form action="/con/teacher-save" modelAttribute="teacher">
    Hello Teacher, welcome
    <br>
    Name<input type="text" name="teacher-name"><br>
    Email<input type="text" name="teacher-email"><br>
    Password<input type="text" name="teacher-pass"><br>
    Subject<input type="text" name="teacher-subject"><br>
    <input type="submit" name="Submit"> <input type="reset" name="reset">
</form>
</center>
</body>
</html>